@media(min-width: 2560px){
  .modalCon{
    max-width: 60%;
    height: 60vh;
  }
  .modalT{
    font-size: 3em;
  }
  .popCon {
    width: 50vw;
  }
  .popCon h3, .popCon label{
    font-weight: normal;
  }
}

@media(max-width:376px){
  .modalT{
    font-size: 15px;
  }
}