@media(min-width: 2560px){
  .overview .HDash, .adminH1{
    font-size: 4em;
  }
  .overview .PDash, .paymentsReq h1, .charts01 h3, .salesRev h3, .vendors h1, .adminP, .CSVAct{
    font-size: 2.7em;
  }
  .IContainer{
    padding: 10px;
  }
  .Icon{
    margin-right: 10px;
    height: 50px;
    width: 50px;
  }
  .Icons{
    height: 70px;
    width: 70px;
  }
  .Iconz{
    height: 50px;
    width: 50px;
  }
  .IconBg{
    width: 80px;
  }
  .AnaCards p, .AnaCards a, .AnaCards h3{
    font-size: 2.3em;
  }
  .AnaCards h1{
    font-size: 3em;
  }
  sup{
    font-size: 1em;
  }
  .PayIn{
    height: 80px;
  }
  .paymentsReq input, input{
    padding: 10px;
  }
  .PayItems{
    max-height: 650px;
  }
  .RevChart {
    height: 730px;
  }
  .salesContainer{
    padding: 10px;
  }
  .salesChart01{
    height: 450px;
  }
  .Ctext span{
    padding: 15px;
    font-size: 2em;
  }
  .vendors{
    margin-top: 20px;
  }
  .vendorItem{
    max-height: 500px;
  }
  .addForm{
    max-width: 100%;
  }
  .IDText{
    font-size: 23px;
  }
  .appContainer{
    height: 450px;
  }
  .UUIDcon{
    padding: 2px 10px;
    gap: 3px;
  }
  .UUIDcon div p, .STitle, .AppSign{
    font-size: 2em;
  }
  .namesTag{
    height:90px;
    width: 90px;
  }
  .verifyImg{
    align-items: center;
    justify-items: center;
  }
  .verImg{
    height: 400px;
    width: 100%;
    border-radius: 20px
  }
  .userTable thead tr th, .userTable tbody tr td {
    font-size: 2em;
  }
  .userTable tbody tr td span{
    font-size: 1.2em;
  }
  .navigator span{
    font-size: 1.7em;
  }
  .Upop{
    width: fit-content;
  }
  .Upop button{
    font-size: 1em
  }
  .VenProModal{
    max-width: 70vw;
  }
  .VenBanCon{
    height: 15vw;
    background-color: brown;
  }
  .bannerImg, .logoImg img{
    height: 100%;
    width: 100%;
    background-position: center;
  }
  .logoImg{
    width: 170px;
    height: 170px;
  }
  .VenProcontent{
    margin-top: 70px;
  }
  .VenBusiness div h1{
    font-size: 3em;
  }
  .VenIcon, .VenSocialIcon{
    height: 35px;
    width: 100px;
  }
  .payout h2{
    font-size: 2.8em;
  }
  .payout p, .payout ul li{
    font-size: 2.3em;
  }
  .socials a{
    font-size: 2.3em;
  }
}

@media(max-width: 769px){
  .overview{
    grid-template-columns: repeat(1, 1fr);
  }
  .OverCard{
    border:none;
  }
  .cal{
    font-size: 11px;
  }
  .DashIntro{
    display: flex;
    flex-wrap: wrap;
  }
  .verImg{
    height: 200px;
  }
  .ApprovalCards{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 426px){
  .AnaCards, .VenAddresses{
    grid-template-columns: repeat(2, 1fr);
  }
  .PaymentChart{
    grid-template-columns: repeat(1, 1fr);
  }
  .PayItems, .RevChart, .vendorItem{
    max-height: 550px;
  }
  .Agreement{
    font-size: 13px;
  }
  .verifyImg{
    grid-template-columns: repeat(1, 1fr);
  }
  .verImg{
    height: 150px;
  }
  .ApprovalCards{
    grid-template-columns: repeat(1, 1fr);
  }
  .userIc{
    display: grid;
    grid-template-columns: repeat(1, 1fr );
    gap: 20px;
  }
  .userCSVs{
    display: flex;
    flex-wrap: wrap;
  }
  .userInp{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 376px){
  .AnaCards{
    grid-template-columns: repeat(1, 1fr);
  }
  .socials{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 321px){
  .VenBusiness{
    flex-wrap: wrap;
    gap: 10px;
  }
}