.fixed-nav {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  background: rgb(234, 233, 233);
  /*box-shadow: 0 2px 10px rgba(0,0,0,0.08);*/
}
.desktop-navbar {
  width: 100%;
}

.mobile-navbar {
  padding: 10px 16px;
  border-bottom: 1px solid #eee;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bottom {
  margin-top: 8px;
}

.icons {
  display: flex;
  gap: 12px;
}

.drawer {
  position: fixed;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100%;
  background: white;
  transition: 0.3s ease;
  z-index: 1000;
}

.drawer.open {
  left: 0;
}

.drawer-header {
  padding: 16px;
}

.drawer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
}

.sticky-nav {
  backdrop-filter: blur(10px);
}

.sticky-shadow {
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 20px; 
  border-radius: 10px;
}
@media(min-width: 2560px){
  .logo, .cat908 h2, .Subscribe h2{
    font-size: 3.3rem;
  }
  .wHyIcons{
    width: 60px;
    height: 60px;
  }
  .itemHeading, .cat908 p{
    font-size: 2em;
  }
  .pdosC{
    font-size: 3em;
    text-decoration: underline;
  }
  .cat908 img{
    height: 20vw;
    width: 50%;
  }
  .CatImg001{
    width: 100%;
    height: 15vw;
  }
  .CatImg002, .Subscribe img{
    width: 100%;
    height: 100%;
  }
  .catCon001 a, .catCon001 h4, .Subscribe p{
    font-size: 2em;
  }
  .SubImg{
    height: 30vw;
  }
}

@media(max-width: 1024px){
  .CanCards{
    grid-template-columns: repeat(5, 1fr);
  }
}

@media(max-width: 900px){
  .swiper-pagination-bullet{
    display: none;
  }
  .BuyeWHY{
    grid-template-columns: repeat(2, 1fr);
  }
  .cat908{
    grid-template-columns: repeat(1, 1fr);
  }
  .catHead{
    font-size: 2.5em;
  }
  .catPara{
    font-size: 13px;
  }
  .CanCards{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 626px){
  .catTitles{
    grid-template-columns: repeat(1, 1fr);
  }
  .catHead{
    width: 100%;
    font-size: 1.5em;
  }
  .CanCards{
    grid-template-columns: repeat(3, 1fr);
  }
}


@media(max-width: 426px){
  .whyText p{
    font-size: 15px;
  }
  .BuyeWHY{
    grid-template-columns: repeat(2, 1fr);
  }
  .catLastCon{
    grid-template-columns: repeat(1, 1fr);
  }
  .fanImgs{
    display: flex;
    flex-wrap: wrap;
  }
  .overImg{
    display: none;
  }
  .CatTexts001{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .CanCards{
    grid-template-columns: repeat(2, 1fr);
  }
  .Subscribe{
    display: flex;
    flex-direction: column;
  }
}

@media(max-width: 376px){
  .whyText h1{
    font-size: 13px;
  }
  .whyText p{
    font-size: 10px;
  }
  .CanCards h4, .CanCards p{
    font-size: 13px;
  }
}