@media(min-width: 2560px){
  .HeroC h1, .ProdCon h1{
    font-size: 6rem;
  }
  .started, .Sec02 h2{
    font-size: 2.3rem;
  }
  .HImg img, .HImg p{
    height: 130px;
    width: 130px;
  }
  .HImg p, .Hp h2, .Hp p, .ProdCon button, .Sec02 p{
    font-size: 2em;
  }
  .ProdCon p {
    font-size: 1.8em;
  }
  .Ptext{
    width: 100%;
  }
  .NPText{
    font-size: 9rem;
  }
  .NPText span:last-child{
    text-indent: 90px;
  }
  .Sec02 img{
    width: 100%;
    height: 35vw;
  }
}

@media(max-width: 768px){
  .HeroC h1{
    font-size: 2.5em;
  }
  .NPText{
    font-size: 3rem;
  }
}

@media(max-width: 626px){
  .HeroC h1{
    font-size: 1.9em;
  }
  .PTContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .Ptext{
    width: 100%;
  }
  .NPText{
    font-size: 2.5rem;
  }
  .Sec02{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 426px){
  .HContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .HeroC h1{
    font-size: 2.4em;
  }
  .HICon{
    align-items: start;
  }
  .HCards{
    grid-template-columns: repeat(1, 1fr);
  }
  .NPText{
    font-size: 1.5rem;
  }
}

@media(max-width: 376px){
  .HeroC h1{
    font-size: 2.3em;
  }
  .Sec02 img{
    height: 65vw;
  }
}

@media(max-width: 321px){
  .HeroC h1{
    font-size: 1.9em;
  }
}