.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

@media(min-width: 2560px){
  .HeroC h1, .ProdCon h1, .wSec h1, .pHeading h1, .TSheadings h1{
    font-size: 6rem;
  }
  .started, .Sec02 h2, .wSec h2, .TSheadings h2{
    font-size: 2.3rem;
  }
  .HImg img, .HImg p{
    height: 130px;
    width: 130px;
  }
  .HImg p, .Hp h2, .Hp p, .ProdCon button, .Sec02 p, .wSec p, .pHeading p, .PBtn button a{
    font-size: 2em;
  }
  .ProdCon p {
    font-size: 1.8em;
  }
  .Ptext{
    width: 100%;
  }
  .NPText{
    font-size: 9rem;
  }
  .NPText span:last-child{
    text-indent: 90px;
  }
  .Sec02 img, .wSec img{
    width: 100%;
    height: 35vw;
  }
  .star{
    display: none;
  }
  .wSec button{
    font-size: 1.8em;
  }
  .mySwiper{
    width: 50%;
  }
}

@media(max-width: 768px){
  .HeroC h1{
    font-size: 2.5em;
  }
  .NPText{
    font-size: 3rem;
  }
}

@media(max-width: 626px){
  .HeroC h1{
    font-size: 1.9em;
  }
  .PTContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .Ptext{
    width: 100%;
  }
  .NPText{
    font-size: 2.5rem;
  }
  .Sec02{
    grid-template-columns: repeat(1, 1fr);
  }
  .WSCards, .PCSection{
    grid-template-columns: repeat(2, 1fr);
  }
  .wCSec{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .star{
    display: none;
  }
  .pHeading p{
    width: 100%;
  }
}

@media(max-width: 426px){
  .HContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .HeroC h1{
    font-size: 2.4em;
  }
  .HICon{
    align-items: start;
  }
  .HCards{
    grid-template-columns: repeat(1, 1fr);
  }
  .NPText{
    font-size: 1.5rem;
  }
  .PCSection{
    gap: 5px;
  }
  .mySwiper{
    width: 90%;
  }
}

@media(max-width: 376px){
  .HeroC h1{
    font-size: 2.3em;
  }
  .Sec02 img{
    height: 65vw;
  }
  .wCSec img{
    height: 350px;
  }
  .WSCards h2{
    font-size: 1.1em;
  }
  .TSheadings h1{
    font-size: 1.5em;
  }
  .mySwiper{
    width: 80%;
  }
  .PBtn{
    flex-wrap: wrap;
  }
}

@media(max-width: 321px){
  .HeroC h1{
    font-size: 1.9em;
  }
  .wCSec img{
    height: 300px;
  }
  .TSheadings h1{
    font-size: 1.2em;
  }
}