@media(min-width: 2560px){
  .HeroC h1, .ProdCon h1{
    font-size: 6rem;
  }
  .started{
    font-size: 2.3rem;
  }
  .HImg img, .HImg p{
    height: 130px;
    width: 130px;
  }
  .HImg p, .Hp h2, .Hp p, .ProdCon button {
    font-size: 2em;
  }
  .ProdCon p {
    font-size: 1.8em;
  }
  .Ptext{
    width: 100%;
  }
}

@media(max-width: 768px){
  .HeroC h1{
    font-size: 2.5em;
  }
}

@media(max-width: 626px){
  .HeroC h1{
    font-size: 1.9em;
  }
  .PTContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .Ptext{
    width: 100%;
  }
}

@media(max-width: 426px){
  .HContainer{
    grid-template-columns: repeat(1, 1fr);
  }
  .HeroC h1{
    font-size: 2.4em;
  }
  .HICon{
    align-items: start;
  }
  .HCards{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media(max-width: 376px){
  .HeroC h1{
    font-size: 2.3em;
  }
}

@media(max-width: 321px){
  .HeroC h1{
    font-size: 1.9em;
  }
}