.hamburger{
  font-size: 1.3rem;
  font-weight: 500;
  display: none;
}

@media(min-width: 2560px){
  /*.navbar .logo img{
    width: 150px;
    height:150px; 
  }*/
  .navlinks ul li a{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: 500;
  }
}

@media (min-width:2560px){
  .regBtn{
    font-size: 2.3rem;
  }
  .navbar .logo img{
    width: 150px;
    height:150px; 
  }
  .navlinks ul li a {
    margin-left: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
  }
}

@media(max-width: 924px) {
  .navbar .navlinks{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: none;
    /*align-items: center;*/
    justify-content: center;
    background-color: aliceblue;
  }
  .Sign{
    display: none;
  }
  .navbar .navlinks.open, .navlinks ul{
    display: flex;
    flex-direction: column;
  }
  .navlinks li{
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
  .hamburger{
    display: block;
    position: relative;
    color: #104579;
  }
}