@media(min-width: 2560px){
  .VendImg{
    height: 10vw;
    width: 10vw;
    border: dashed 3px;
  }
  .VenIcon{
    height: 60px;
    width: 60px;
  }
  .VenBanner{
    height: 13vw;
    border: dashed 3px;
    border-radius: 20px;
  }
}

@media(max-width: 769px){
  .addresses{
  grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 426px){
  .notification{
  display: flex;
  flex-wrap: wrap;
  }
  .VenImgCon{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .markedT{
    font-size: 13px;
  }
  .VenRegCon, .MonVenPayCon, .BanVenPayCon, .VenSocialCon{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 376px){
  .addresses, .names, .notification, .VenRegCon, .MonVenPayCon, .BanVenPayCon, .VenSocialCon{
  grid-template-columns: repeat(1, 1fr);
  }
}