@import "tailwindcss";

@theme{
  --color-primary: #1A73E8;
  --color-secondary: #FBBF24;
  --color-high: #2444fb;
  --color-dark: #111827;
  --color-light: #F3F4F6;
  --color-success: #10B981;
  --color-error: #EF4444;
  --color-muted: #9CA3AF;

  --font-sans: Inter, sans-serif;
  --font-display: "Playfair Display", serif;
  --font-goodly: "Goodly", sans-serif;
}

@keyframes spin{
  to { transform: rotate(360deg); }
}

.animate-spin{
  animation: spin 5s linear infinite;
}
@font-face {
  font-family: 'Goodly';
  src: url('./assets/fonts/GoodlyRegular.woff2') format('woff2'),
       url('./assets/fonts/GoodlyRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Goodly';
  src: url('./assets/fonts/GoodlyBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
